body{
  background:#99ff99;  
}

#wrap{
  width:150px;
  margin:0px auto 20px auto;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size:12px;
}

#header{
  height:150px;
  margin:0px auto 20px auto;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size:12px;
  color:#008080;
}

#topbar {
  height:80px;
}

#topmenu {
  display:block;
  list-style:none;
  padding:0 0px 0px 280px;
  float:right;
  width:420px;
}

#topmenu li {
  display:inline;
}

#topmenu a {
  display:block;
  float:left;
  height:25px;
  margin: 0px 0px 0px 0px;
  text-decoration:none;
  padding:9px 15px 0px 15px;
}

#topmenu a, #topmenu a:visited, #topmenu a:active {
  color:#336600; 
}

#topmenu a:hover {
  color:#006600;
  background-color:#99ff99;
}

#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active {
  color:#006600;
  background-color:#99ff99;
}

#content {
  background-color:#99ff99; 
}

#mainpage {
  width:650px;
  float:left;
  padding:5px 5px 5px 0px;
  height:auto;
}

#mainpage p{
 line-height:22px;
 margin:10px 0px 22px 0px;
 text-align:justify;
}

#mainpage blockquote {
  background:#006600;
  display:block;
  margin:5px;
}

h1, h2, h3, h4, h5 {
  color:#006600;
  font-weight:bold;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#mainpage h1 {
  font-size:25px;
  color:#008080;
}

#mainpage h2 {
  font-size:20px;
  padding-top:15px;
  padding-bottom:5px;
  border-bottom: 1px solid #008080;
}

#mainpage h3 {
  font-size:20px;
}
#mainpage h4 {
  font-size:16px;
}
#mainpage h5 {
  font-size:14px;
}
